%header#header.codrops-header
  %button.slider-switch Switch view

#overlay.overlay
  .info
    %h2 interactions
    %span.info-drag Drag Sliders
    %span.info-keys User Arrows
    %span.info-switch Switch view
    %button Got it!


#slideshow.dragslider.switch-max
  %section.img-dragger.img-dragger-large.dragdealer
    .handle
      .slide{:'data-content' => 'content-1'}
        .img-wrap
          %img{src: 'images/1_Image-home_CCv02.jpg', alt: 'img1'}

        %h2.home
          Home
          %span we create. we are drive.

        %button.content-switch Read more

      .slide{:'data-content' => 'content-2'}
        .img-wrap
          %img{src: 'images/2_Image-about_CCv02.jpg', alt: 'img2'}
        %h2
          about
          %span This is not one size fits all.
        %button.content-switch Read more

      .slide{:'data-content' => 'content-3'}
        .img-wrap
          %img{src: 'images/3_Image-portfolio_CCv02.jpg', alt: 'img3'}
        %h2
          portfolio
          %span Nothing is out there &mdash; let's try again
        %button.content-switch Read more

      .slide{:'data-content' => 'content-4'}
        .img-wrap
          %img{src: 'images/4_Image-contact_CCv02.jpg', alt: 'img4'}
        %h2
          contact
          %span Heated conversations in the back yard
        %button.content-switch Read more


  %section.pages
    .content{:'data-content' => 'content-1'}
      %h2
        index
        %span Distilling design and other interesting methods
      %p
        We’re a full service agency with talented designers, coders, animators, planners, videographers, photographers, talkers and listeners. Yes, listeners. We know our stuff, but we know you do too. So we take the time to understand YOUR brand and YOUR goals. And when our clients become our collaborators it’s just like creative magic.
      %p.related
        You might also like hugs:
        %a{href: '/'} Link
    .content{:'data-content' => 'content-2'}
      %h2
        about
        %span This is not one size fits all.
      %p We’re a full service agency with talented designers, coders, animators, planners, videographers, photographers, talkers and listeners. Yes, listeners. We know our stuff, but we know you do too. So we take the time to understand YOUR brand and YOUR goals. And when our clients become our collaborators it’s just like creative magic.

      %section#grid.grid.clearfix
        - person name: 'CHANDLER', position: 'Quality human.', image: 'images/drivecreativeagency_staff_pic_CHANDLER.jpg'
        - person name: 'KALINA', position: 'RGB perfectionist.', image: 'images/drivecreativeagency_staff_pic_Kalina.jpg'
        - person name: 'ANDREW', position: 'Person of interest.', image: 'images/drivecreativeagency_staff_pic_Andrew.jpg'
        - person name: 'Danny', position: 'Nerf herder.', image: 'images/drivecreativeagency_staff_pic_Danny.jpg'
        - person name: 'Eric', position: 'Pea horseradish azuki bean lettuce.', image: 'images/2.png'
        - person name: 'Ana', position: 'A grape silver beet watercress potato.', image: 'images/4.png'
        - person name: 'Kevin', position: 'Chickweed okra pea winter purslane.', image: 'images/6.png'
        - person name: 'Todd', position: 'Salsify taro catsear garlic gram.', image: 'images/8.png'

    .content{:'data-content' => 'content-3'}
      %section.portfolio
        %h2
          portfolio

        .full-width-video
          %iframe{src: '//player.vimeo.com/video/99858122', width: '500', height: '281', frameborder: '0', webkitallowfullscreen: true, mozallowfullscreen: true, allowfollscreen: true}

        %h3 A Creative Sampler Platter // 2014 Reel

        .case-studies
          %h4 Drive Case Studies
          %ul
            %li.link-1
              %a{href: 'javascript:', :'data-goto' => 'case-study-1'} Case Study 1
            %li.link-2
              %a{href: 'javascript:', :'data-goto' => 'case-study-1'} Case Study 2
            %li.link-3
              %a{href: 'javascript:', :'data-goto' => 'case-study-1'} Case Study 3
            %li.link-4
              %a{href: 'javascript:', :'data-goto' => 'case-study-1'} Case Study 4

        %h4.divider Beauty. <strong>Meet Brains.</strong>

        .sample.vision-plastics
          .title
            %h6 Vision Plastics Inc
            %p These are some seriously awesome people and they needed a new brand that would show off not only their capabilities, but their rockstar personalities.

          .segment
            .left.branding
              %h6 Branding
              %p Vision Plastics had made significant investments in their equipment and their brand needed to reflect their business capabilities. Picking classic colors with a fun twist along with a clean, modern typeface gave their name the attention it deserved.
              %ul.color-blocks
                %li.dark-blue
                %li.orange
                %li.yellow
            .right.branding-logo
              = image_tag('casestudy-1-logo.png')

          .segment
            .left
              = image_tag('casestudy-1-screen.png')
            .right.website-photography
              %h6 Website / Photography
              %p After touring the facility, our team had the same reaction; “this place is so clean”. And our theme for the website was born. Shooting new photos of the facility allowed us to use minimal copy and leverage the new imagery to display the capabilities. Our favorite three C’s: clean, crisp, concise.

          .segment
            .left.video
              %h6 Video
              %p This client had an amazing story to tell. Our goal throughout this piece was to capture the innovative knowledge, technologies and capabilities within the company, but more importantly, we wanted to focus on the people of Vision Plastics. It was, after all, the people that made this company unique from the competition and who could genuinely tell the story of their new tagline, “Imagine More.”
              %p It was a thrill to see the excitement on their faces when we showed up on the day of the video shoot with an 8-person crew toting two truckloads worth of video gear. The making-of the video was truly an endeavor built upon teamwork; we were lucky to be working with such an incredible group of people at Vision Plastics. As for the few camera-shy folks, they found other ways to help out behind the scenes (as well as some pretty amazing hiding places) while the camera was rolling.

            .right.vision-plastics-video
              %iframe{src: '//player.vimeo.com/video/86566810', width: '595', height: '334', frameborder: '0', webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true}
              %ul
                %li= image_tag('casestudy-1-video-clip-a.jpg')
                %li= image_tag('casestudy-1-video-clip-b.jpg')
                %li= image_tag('casestudy-1-video-clip-c.jpg')

          .segment
            .left.business-card
              %h6 Business Card
              = image_tag('casestudy-1-card-a.jpg')
              = image_tag('casestudy-1-card-b.jpg')
            .right.collateral
              %h6 Collateral
              %p Iquemquam consulto et etissiliur am ponsum oculvit; nos ernume facio, condum dum, ma, quam estiam quid reber los pere moritia diissul tursunte cioctus ingulabit; nitam etimpor utus, quis cerei senam ina, que consultu inte re quam ortum auconsuli publiciis bonulto diusperemus, meniureis erra Sci int? Nam. Serfex num pos occiam des avesulatum iam ines clus, con sed iam perioris esederbis.

    .content{:'data-content' => 'content-4'}
      %h2
        contact
        %span Heated conversations in the back yard
      %p One could not help contrasting this large force from Australia and New Zealand—a force that was to be doubled and trebled ere long—with the little force of 500 men which William Bede Dalley, Australian Orator and Patriot, sent from New South Wales to the Sudan just thirty years before. It spoke not only of the wonderful growth in population of Britain's Dominions of the South, but it was a living proof that the years had only served to cement the bonds of love and loyalty that bind the grand old Mother land to her Oversea Dominions. The rising in India, the intention of the Australians to proclaim their independence the moment when Britain found herself in peril—where were they? Where now was the "disintegration" of the British Empire which the German Emperor and his War Lords had so confidently predicted?
      %p With Cairo and the Nile safe, General Wilson was able to deal effectively with the invaders. Towards the latter end of January, Northern Sinai was overrun with them. From a couple of captured Shawishes of the 75th Turkish Regiment I learned that the staff arrangements by the German officers were excellent. Everything had been foreseen and provided for—or nearly everything. Water was available at each stage of the journey across the desert. Many boats and pontoons were dragged by oxen and camels along the caravan route from Kosseima, El Arish, and Nekl. A few six-inch guns were also transported to the Canal. To supplement the Turkish force on its south-westerly march all the pilgrims and Bedouins met with were pressed into service and rifles were given to them.
      %p It was on the morning of January 28 that the initial conflict took place at Kantara. A reconnoitring party from Bir El Dueidar attacked the British outposts but was repulsed, our losses being only one officer and one soldier killed and five Gurkhas wounded. Further south, near Suez, a nocturnal demonstration by the Turks merely served to prove the alertness of the defenders, though unfortunately two of our air scouts met with disaster. Their aeroplane came down outside our lines, and on returning on foot they were both shot dead by our own Indian patrols. The pity of it.
      %p.related
        You might also like Todd
