%header#header.codrops-header
  %button.slider-switch Switch view

#overlay.overlay
  .info
    %h2 interactions
    %span.info-drag Drag Sliders
    %span.info-keys User Arrows
    %span.info-switch Switch view
    %button Got it!


#slideshow.dragslider.switch-max
  %section.img-dragger.img-dragger-large.dragdealer
    .handle
      .slide{:'data-content' => 'content-1'}
        .img-wrap
          %img{src: 'images/1_Image-home_CCv02.jpg', alt: 'img1'}

        %h2.home
          Home
          %span we create. we are drive.

        %button.content-switch Read more

      .slide{:'data-content' => 'content-2'}
        .img-wrap
          %img{src: 'images/2_Image-about_CCv02.jpg', alt: 'img2'}
        %h2
          about
          %span This is not one size fits all.
        %button.content-switch Read more

      .slide{:'data-content' => 'content-3'}
        .img-wrap
          %img{src: 'images/3_Image-portfolio_CCv02.jpg', alt: 'img3'}
        %h2
          portfolio
          %span Nothing is out there &mdash; let's try again
        %button.content-switch Read more

      .slide{:'data-content' => 'content-4'}
        .img-wrap
          %img{src: 'images/4_Image-contact_CCv02.jpg', alt: 'img4'}
        %h2
          contact
          %span Heated conversations in the back yard
        %button.content-switch Read more


  %section.pages
    .content{:'data-content' => 'content-1'}
      %h2
        index
        %span Distilling design and other interesting methods
      %p
        We’re a full service agency with talented designers, coders, animators, planners, videographers, photographers, talkers and listeners. Yes, listeners. We know our stuff, but we know you do too. So we take the time to understand YOUR brand and YOUR goals. And when our clients become our collaborators it’s just like creative magic.
      %p.related
        You might also like hugs:
        %a{href: '/'} Link
    .content{:'data-content' => 'content-2'}
      %h2
        about
        %span This is not one size fits all.
      %p We’re a full service agency with talented designers, coders, animators, planners, videographers, photographers, talkers and listeners. Yes, listeners. We know our stuff, but we know you do too. So we take the time to understand YOUR brand and YOUR goals. And when our clients become our collaborators it’s just like creative magic.

      %section#grid.grid.clearfix
        - person name: 'CHANDLER', position: 'Quality human.', image: 'images/drivecreativeagency_staff_pic_CHANDLER.jpg'
        - person name: 'KALINA', position: 'RGB perfectionist.', image: 'images/drivecreativeagency_staff_pic_Kalina.jpg'
        - person name: 'ANDREW', position: 'Person of interest.', image: 'images/drivecreativeagency_staff_pic_Andrew.jpg'
        - person name: 'Danny', position: 'Nerf herder.', image: 'images/drivecreativeagency_staff_pic_Danny.jpg'
        - person name: 'Eric', position: 'Pea horseradish azuki bean lettuce.', image: 'images/2.png'
        - person name: 'Ana', position: 'A grape silver beet watercress potato.', image: 'images/4.png'
        - person name: 'Kevin', position: 'Chickweed okra pea winter purslane.', image: 'images/6.png'
        - person name: 'Todd', position: 'Salsify taro catsear garlic gram.', image: 'images/8.png'

    .content{:'data-content' => 'content-3'}
      %section.portfolio
        %h2
          portfolio

        .full-width-video
          %iframe{width: '560', height: '315', src: '//www.youtube.com/embed/p0gyDXrjCEk', frameborder: '0', allowfullscreen: true}

        %h3 A Creative Sampler Platter // 2014 Reel

        .case-studies
          %h4 Drive Case Studies
          %ul
            %li.link-1
              %a{href: 'javascript:', :'data-goto' => 'vision-plastics'} Case Study 1
            %li.link-2
              %a{href: 'javascript:', :'data-goto' => 'nerd-deck'} Case Study 2
            %li.link-3
              %a{href: 'javascript:', :'data-goto' => 'navex-global'} Case Study 3
            %li.link-4
              %a{href: 'javascript:', :'data-goto' => 'montage'} Case Study 4

        %h4.divider Beauty. <strong>Meet Brains.</strong>

        .sample.vision-plastics
          .title
            %h6 Vision Plastics Inc
            %p These are some seriously awesome people and they needed a new brand that would show off not only their capabilities, but their rockstar personalities.

          .segment
            .left.branding
              %h6 Branding
              %p Vision Plastics had made significant investments in their equipment and their brand needed to reflect their business capabilities. Picking classic colors with a fun twist along with a clean, modern typeface gave their name the attention it deserved.
              %ul.color-blocks
                %li.dark-blue
                %li.orange
                %li.yellow
            .right.branding-logo
              = image_tag('casestudy-1-logo.png')

          .segment
            .left
              = image_tag('casestudy-1-screen.png')
            .right.website-photography
              %h6 Website / Photography
              %p After touring the facility, our team had the same reaction; “this place is so clean”. And our theme for the website was born. Shooting new photos of the facility allowed us to use minimal copy and leverage the new imagery to display the capabilities. Our favorite three C’s: clean, crisp, concise.

          .segment
            .left.video
              %h6 Video
              %p This client had an amazing story to tell. Our goal throughout this piece was to capture the innovative knowledge, technologies and capabilities within the company, but more importantly, we wanted to focus on the people of Vision Plastics. It was, after all, the people that made this company unique from the competition and who could genuinely tell the story of their new tagline, “Imagine More.”
              %p It was a thrill to see the excitement on their faces when we showed up on the day of the video shoot with an 8-person crew toting two truckloads worth of video gear. The making-of the video was truly an endeavor built upon teamwork; we were lucky to be working with such an incredible group of people at Vision Plastics. As for the few camera-shy folks, they found other ways to help out behind the scenes (as well as some pretty amazing hiding places) while the camera was rolling.

            .right.video-player.vision-plastics
              %iframe{src: '//player.vimeo.com/video/86566810', width: '595', height: '334', frameborder: '0', webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true}
              %ul
                %li= image_tag('casestudy-1-video-clip-a.jpg')
                %li= image_tag('casestudy-1-video-clip-b.jpg')
                %li= image_tag('casestudy-1-video-clip-c.jpg')

          .segment
            .left.business-card
              %h6 Business Card
              = image_tag('casestudy-1-card-a.jpg')
              = image_tag('casestudy-1-card-b.jpg')
            .right.collateral
              %h6 Collateral
              %p Iquemquam consulto et etissiliur am ponsum oculvit; nos ernume facio, condum dum, ma, quam estiam quid reber los pere moritia diissul tursunte cioctus ingulabit; nitam etimpor utus, quis cerei senam ina, que consultu inte re quam ortum auconsuli publiciis bonulto diusperemus, meniureis erra Sci int? Nam. Serfex num pos occiam des avesulatum iam ines clus, con sed iam perioris esederbis.

          .segment.results
            .left
              %h6 Results
              %p A little face-lift never hurt anyone, right? In this case, it allowed Vision Plastics to become more competitive in the international and national space. Their new brand not only put a welcoming face to their name, it ultimately gave them the freedom to work with their ideal clients, providing long term successes and building lasting relationships.

        .sample-dark-wrapper
          .sample.nerd-deck
            .title
              %h6 Nerd Deck
              %p Don’t be fooled by the name. This company needed to educate the market on their new technology service in a non-nerdy way.

            .segment
              .left.branding
                %h6 Branding
                %p As a new company, NerdDeck started with a clean slate. Their brand needed to portray that they were cutting edge, just like their new technology service. Bright colors matched with a sleek logo definitely set them apart from the competition.
                %ul.color-blocks
                  %li.dark-grey
                  %li.green
                  %li.light-grey
              .right.nd-logo
                = image_tag('casestudy-2-logo.png')

            .segment
              .left.website-image
                = image_tag('casestudy-2-screen.png')
              .right.website
                %h6 Website
                %p The new website needed to quickly and effectively educate viewers on this service. Due to found successes within the video, we leveraged assets to bring continuity to the brand. Creating a hybrid of technology lingo and animated cartoon super heroes allowed consumers to understand this service while the NerdDeck brand appeared approachable.

            .segment
              .left.video.nerd-deck
                %h6 Video
                %p Have you ever watched a video on a technology service? We know, they can be boring. Our challenge was to educate and inform an audience about a new technology service in a fun way that would capture their attention to the fullest. We met with the client extensively to ensure we were properly deciphering the technical speak. From there we developed a script and storyboards laced with puns to simplify the tech talk and spice up the flavor. Our animator got to work creating adorable characters to act out the bizarre scenarios to engage the viewer while stealthily informing them of the technology our client had to offer.
              .right.video-player.nerd-deck
                %iframe{src: '//player.vimeo.com/video/70352286', width: '595', height: '334', frameborder: '0', webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true}
                %ul
                  %li= image_tag('casestudy-2-video-clip-a.jpg')
                  %li= image_tag('casestudy-2-video-clip-b.jpg')
                  %li= image_tag('casestudy-2-video-clip-c.jpg')

            .segment
              .left.business-card.nerd-deck
                %h6 Business Card
                = image_tag('casestudy-2-card-a.png')
                = image_tag('casestudy-2-card-b.png')
              .right.collateral
                %h6 Collateral
                %p Iquemquam consulto et etissiliur am ponsum oculvit; nos ernume facio, condum dum, ma, quam estiam quid reber los pere moritia diissul tursunte cioctus ingulabit; nitam etimpor utus, quis cerei senam ina, que consultu inte re quam ortum auconsuli publiciis bonulto diusperemus, meniureis erra Sci int? Nam. Serfex num pos occiam des avesulatum iam ines clus, con sed iam perioris esederbis.
                %p Publin terentius mo vis obses.etimpor utus, quis cerei senam ina, que consultu inte re quam ortum auconsuli publiciis bonulto diusperemus
        .sample.navex-global
          .title
            %h6 Navex Global
            %p With the launch of a new product offering, NAVEX Global needed a way to educate their internal sales team and increase the level of comfort in pitching the product to prospective clients.

          .segment
            .left.campaign-theme
              %h6 Campaign Theme
              %p The duration of this campaign was over the span of a few months and we wanted participants to realize learning and utilizing this new product was a journey. Navigating through a trail with some amazing prizes to keep pushing you along the way.

            .right.campaign-image
              = image_tag('casestudy-3-hero.jpg')

          .segment
            .left.direct-mail-images
              %ul
                %li
                  %h6 Front
                  = image_tag('casestudy-3-img-a.jpg')
                %li
                  %h6 Back
                  = image_tag('casestudy-3-img-b.jpg')

            .right.direct-mail
              %h6 Direct Mail
              %p Acting as a pattern interruption piece, a printed campaign trail map was included in a survival kit to be mailed to participants kicking off the campaign and building interest. The survival kit included some fun hiking necessities along with the campaign outline to educate participants on next steps.

          .segment
            .left.engagement
              %h6 Engagement
              %p Within the first phase of the campaign we created a series of quizzes to ensure a high level of participant interaction. Upon completion of the quizzes, participants were rewarded with a prize relevant to the campaign theme. The following two phases included a digital trail map with instructions on next steps. Each phase provided the participant to receive a prize, yielding high response rates. This educational campaign provided both knowledge on the new program and increased comfort levels, allowing the sales team to build the pipeline with prospects.

        .sample-dark-wrapper
          .sample.montage
            .title
              %h6 We’re gonna need a montage
              %p When a high tech company announces a new General Manager, you can bet it won’t be in an ordinary way.

            .segment
              .left.event-background
                %h6 Event background
                %p Our client was hosting a large tech conference in Las Vegas, packed with new products and big announcements. The current General Manager would be retiring and we needed to announce the predecessor in a fun way that left employees with a positive image.
                %p What better way to show the GM training his replacement than the most iconic of all training videos? That’s right - a Rocky montage with a comical corporate spin.
              .right.event-background-image
                = image_tag('casestudy-4-hero.jpg')

            .segment
              .left.video-script-image
                = image_tag('casestudy-4-img-a.jpg')
              .right.video-script
                %h6 Video Script
                %p The GM trainee was placed in various outlandish settings: everything from intense physical training to assembling computers, working hard throughout to show he had what it took for the role.
                %p Such props used included a: shake-weight, megaphone, fake blue jay, adult-sized onesie, football player (not to be confused with futbol), golf cart, boxing robe, and to top it off, a speedo. Let’s just say we were fortunate to be working with talent that was far from camera shy and had a good sense of humor.

            .segment
              .left.lights-camera-speedo
                %h6 Lights. Camera. Speedo.
                %p This was an ambitious video shoot: One day and over 20 scenes. We assembled a crew of 18+ people and a few extras (including one butt-double for the speedo scene) to take over an exercise facility and create a mock Rocky montage. The new GM-to-be was pummeled with a swarm of tennis balls, tied to golf carts, drenched in water, and through it all he laughed it off and asked for more. Talk about a good sport!

              .right.video-player.lights-camera
                %iframe{src: '//player.vimeo.com/video/103379661', width: '595', height: '334', frameborder: '0', webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true}
                %ul
                  %li= image_tag('casestudy-4-video-clip-a.jpg')
                  %li= image_tag('casestudy-4-video-clip-b.jpg')
                  %li= image_tag('casestudy-4-video-clip-c.jpg')

            .segment
              .left.show-time-image
                = image_tag('casestudy-4-gif-placeholder.jpg')

              .right.show-time
                %h6 Show Time
                %p The video was played at the Las Vegas event in front of a large audience. Viewers were laughing throughout the video and left feeling at ease with the transition.
                %p We left those involved on the shoot wondering how that fake blue jay actually came to life in the video since on set, it hung lifelessly from a string. Yeah, we have a little post production magic up our sleeves too.

        .sample.stalk-us
          .title
            %h6 Please, Feel Free to Stalk Us.
            %p We’re like that zany, inventive ice-cream shop down the road that makes ordering an experience. “Lavender basil rose-hip honey ice-cream, you say? I had no idea that even existed...and heck yes I’ll try it!” We know everyone has their own distinct palate so we offer a broad range of capabilities to give you an even broader range of problem solving flavors. Will you take one scoop or twenty?
            %p Now excuse me for a minute while I go find my buddies Ben & Jerry...

        .sample-dark-wrapper
          .portfolio-social
            %h6 We Also Hang Out At:
            %ul
              %li= link_to 'Veer', 'http://veer.com', class: 'veer'
              %li= link_to 'Facebook', 'http://facebook.com', class: 'facebook'
              %li= link_to 'Twitter', 'http://twitter.com', class: 'twitter'
              %li= link_to 'LinkedIn', 'http://linkedin.com', class: 'linkedin'

    .content{:'data-content' => 'content-4'}
      %h2
        contact
        %span Heated conversations in the back yard
      %p One could not help contrasting this large force from Australia and New Zealand—a force that was to be doubled and trebled ere long—with the little force of 500 men which William Bede Dalley, Australian Orator and Patriot, sent from New South Wales to the Sudan just thirty years before. It spoke not only of the wonderful growth in population of Britain's Dominions of the South, but it was a living proof that the years had only served to cement the bonds of love and loyalty that bind the grand old Mother land to her Oversea Dominions. The rising in India, the intention of the Australians to proclaim their independence the moment when Britain found herself in peril—where were they? Where now was the "disintegration" of the British Empire which the German Emperor and his War Lords had so confidently predicted?
      %p With Cairo and the Nile safe, General Wilson was able to deal effectively with the invaders. Towards the latter end of January, Northern Sinai was overrun with them. From a couple of captured Shawishes of the 75th Turkish Regiment I learned that the staff arrangements by the German officers were excellent. Everything had been foreseen and provided for—or nearly everything. Water was available at each stage of the journey across the desert. Many boats and pontoons were dragged by oxen and camels along the caravan route from Kosseima, El Arish, and Nekl. A few six-inch guns were also transported to the Canal. To supplement the Turkish force on its south-westerly march all the pilgrims and Bedouins met with were pressed into service and rifles were given to them.
      %p It was on the morning of January 28 that the initial conflict took place at Kantara. A reconnoitring party from Bir El Dueidar attacked the British outposts but was repulsed, our losses being only one officer and one soldier killed and five Gurkhas wounded. Further south, near Suez, a nocturnal demonstration by the Turks merely served to prove the alertness of the defenders, though unfortunately two of our air scouts met with disaster. Their aeroplane came down outside our lines, and on returning on foot they were both shot dead by our own Indian patrols. The pity of it.
      %p.related
        You might also like Todd
